/* ┌─────────────────────────────────────────┐
   │ 共通                                │
   └─────────────────────────────────────────┘ */

:root {
  width: 144rem;
  margin: 0 auto;
}

/* ┌─────────────────────────────────────────┐
   │ headerハンバーガメニュー& 押下時のメニュー画面 z-index 500                      │
   └─────────────────────────────────────────┘ */

/* ハンバーガーメニュー */
.hamburger_menu {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1000; /* メニューが他の要素より前に表示されるようにする */
  background-color: rgb(48, 25, 25);
}

/* ハンバーガーメニューのバー */
.bar {
  position: absolute;
  transition: 0.3s;
  top: 2rem;
  left: 0;
  height: 0.2rem;
  width: 3.5rem;
  background: white; /* バーの色を白に設定 */
}

.bar:nth-child(1) {
  top: 0.6rem;
}
.bar:nth-child(2) {
  top: 1.4rem;
}
.bar:nth-child(3) {
  top: 2.2rem;
}

/* ┌─────────────────────────────────────────┐
   │ ハンバーガーメニュー押下時のアニメーション                        │
   └─────────────────────────────────────────┘ */
/* ハンバーガーメニューがおされたら、「×」にする */
.hamburger_menu.open .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 1.5rem;
}
.hamburger_menu.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger_menu.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 1.5rem;
}

/* 左上のロゴ */
.main_logo {
  position: fixed;

  top: 1.5rem;
  left: 2rem;

  width: 15rem;
  height: 3rem;
  font-size: 2rem;

  color: white;
  background-color: black;
}

/* ┌─────────────────────────────────────────┐
   │ mainvisual(３本の花の画像が表示される)                      │
   └─────────────────────────────────────────┘ */

.main_area {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 100;
}

.main_logo_img {
  flex: 1;
  height: 100%;
  object-fit: cover;
}

/* ┌─────────────────────────────────────────┐
   │ mainvisual(３本の花の画像が表示される)                      │
   └─────────────────────────────────────────┘ */
.imformation_area {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.section_title {
  width: 20rem;
  margin: 0 auto;
  font-size: 5rem;
}
